<div class="container">
    <br>
    <h1>Pipes</h1>
    <hr>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Variable</th>
                <th scope="col">Pipe</th>
                <th scope="col">Producto</th>
            </tr>
        </thead>
        <tbody>
            <!--Pone en mayúsculas todo los que se le introduzca al pipe-->
            <tr>
                <td>{{ nombre }}</td>
                <td>uppercase</td>
                <td>{{ nombre | uppercase }}</td>
            </tr>
            <!--Pone en minúsculas todo los que se le introduzca al pipe-->
            <tr>
                <td>{{ nombre }}</td>
                <td>lowercase</td>
                <td>{{ nombre | lowercase }}</td>
            </tr>
            <!--Corta las pocisiones indicadas de lo que se introduzca al pipe-->
            <!--Sirve para los arreglos-->
            <tr>
                <td>{{ nombre }}</td>
                <td>slice:3</td>
                <td>{{ nombre | slice:3 }}</td>
            </tr>
            <!--Te deja la posición indicada entre el tamaño-->
            <tr>
                <td>{{ arreglo }}</td>
                <td>slice:1:6</td>
                <td>{{ arreglo | slice:1:6 }}</td>
            </tr>
        </tbody>
    </table>

    <h4>Slice</h4>
    <ul>
        <li *ngFor="let i of arreglo | slice:5:20 ">{{ i }}</li>
    </ul>
</div>