<div class="container">
    <br>
    <h1>Pipes</h1>
    <hr>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Variable</th>
                <th scope="col">Pipe</th>
                <th scope="col">Producto</th>
            </tr>
        </thead>
        <tbody>
            <!--Pone en mayúsculas todo los que se le introduzca al pipe-->
            <tr>
                <td>{{ nombre }}</td>
                <td>uppercase</td>
                <td>{{ nombre | uppercase }}</td>
            </tr>

            <!--Pone en minúsculas todo los que se le introduzca al pipe-->
            <tr>
                <td>{{ nombre }}</td>
                <td>lowercase</td>
                <td>{{ nombre | lowercase }}</td>
            </tr>

            <!--Corta las pocisiones indicadas de lo que se introduzca al pipe-->
            <!--Sirve para los arreglos-->
            <tr>
                <td>{{ nombre }}</td>
                <td>slice:3</td>
                <td>{{ nombre | slice:3 }}</td>
            </tr>
            <!--Te deja la posición indicada entre el tamaño-->
            <tr>
                <td>{{ arreglo }}</td>
                <td>slice:1:6</td>
                <td>{{ arreglo | slice:1:6 }}</td>
            </tr>

            <!--Digital number se le puede indicar los máximos y mínimos de dígitos a mostrar-->
            <!--Se debe respetar el siguiente formato, en un string, cantidadDeEnteros.minDecimal-maxDecimal-->
            <tr>
                <td>{{ PI }}</td>
                <td>number:'3.0-2'</td>
                <td>{{ PI | number:'3.0-2' }}</td>
            </tr>
            <!--Si no sabemos cuantos enteros tiene el número podemos poner solo los decimales-->
            <tr>
                <td>{{ PI }}</td>
                <td>number:'.0-2'</td>
                <td>{{ PI | number:'.0-2' }}</td>
            </tr>

            <!--Decimal percent o porcentaje pasa a porcentaje el valor ingresado-->
            <!--Se puede indicar el máx y mínimo siguiente formato, en un string, cantidadDeEnteros.minDecimal-maxDecimal-->
            <tr>
                <td>{{ a }}</td>
                <td>percent:'2.2-2'</td>
                <td>{{ a | percent:'2.2-2' }}</td>
            </tr>

            <!--Currency pipe pasa a formato peso el número ingresado-->
            <tr>
                <td>{{ salario }}</td>
                <td>currency</td>
                <td>{{ salario | currency }}</td>
            </tr>
            <!--Se le puede indicar el tipo de moneda depebderá del ISO 4217-->
            <tr>
                <td>{{ salario }}</td>
                <td>currency:'EUR'</td>
                <td>{{ salario | currency:'EUR' }}</td>
            </tr>
            <!--Al enviar un false o un true se le indica si quiero que muestre el signo o la palabra que representa a la moneda-->
            <tr>
                <td>{{ salario }}</td>
                <td>currency:'EUR':false</td>
                <td>{{ salario | currency:'EUR':false }}</td>
            </tr>
            <!--Se puede indicar el máx y mínimo siguiente formato, en un string, cantidadDeEnteros.minDecimal-maxDecimal-->
            <tr>
                <td>{{ salario }}</td>
                <td>currency:'EUR':false:'4.0-0'</td>
                <td>{{ salario | currency:'EUR':false:'4.0-0' }}</td>
            </tr>

            <!--Se puede indicar el máx y mínimo siguiente formato, en un string, cantidadDeEnteros.minDecimal-maxDecimal-->
            <tr>
                <td>{{ valorDePromesa }}</td>
                <td>async</td>
                <td>{{ valorDePromesa | async}}</td>
            </tr>

            <!--Al pipe fecha se le puede cambiar el formato, ya existen algunos definidos en Angular-->
            <tr>
                <td>{{ fecha }}</td>
                <td>date</td>
                <td>{{ fecha | date }}</td>
            </tr>
            <tr>
                <td>{{ fecha }}</td>
                <td>date:'medium'</td>
                <td>{{ fecha | date:'medium' }}</td>
            </tr>
            <tr>
                <td>{{ fecha }}</td>
                <td>date:'MMMM - dd'</td>
                <td>{{ fecha | date:'MMMM - dd' }}</td>
            </tr>

            <!--Pipe personalizado-->
            <tr>
                <td>{{ nombre2 }}</td>
                <td>capitalizado</td>
                <td>{{ nombre2 | capitalizado }}</td>
            </tr>
            <tr>
                <td>{{ nombre2 }}</td>
                <td>capitalizado:false</td>
                <td>{{ nombre2 | capitalizado:false }}</td>
            </tr>

            <!--Pipe contraseña-->
            <tr>
                <td>{{ nombre }}</td>
                <td>contraseña:{{ activar }}
                    <br>
                    <button class="btn btn-outline-primary" type="button" (click)="activar=!activar">Activar/Desactivar</button>
                </td>
                <td>{{ nombre | contrasena:activar }}</td>
            </tr>
        </tbody>
    </table>


    <h4>Slice</h4>
    <ul>
        <li *ngFor="let i of arreglo | slice:5:20 ">{{ i }}</li>
    </ul>

    <h4>JSON</h4>
    <pre>
        {{heroe | json}}
    </pre>

    <h4>YouTube <small>video</small></h4>
    <hr>
    <iframe [src]="video | domseguro:'https://www.youtube.com/watch?v='" width="569" height="315" frameborder="0"></iframe>
</div>
<br><br><br>